.section3outer {
    background: linear-gradient(to top right, #3366ff 0%, #00ffff 100%);
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section3outer h1 {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 700;
    color: #ffffff;
    font-size: 50px;
    padding: 0px 50px;
}

.mybtn {
    background-color: inherit;
    font-size: 25px;
    padding: 10px;
    width: max-content;
    display: block;
    margin: auto;
    border-radius: 20px;
    color: white;
    border: 3px solid white
}

.mybtn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}